{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista</h1>

    <form action="{{ path('evaluation_list')}}">
        email: <input type="text" name="emailSearch">
        nome: <input type="text" name="nameSearch">
        estado: <input type="text" name="stateSearch">
        <button type="submit"> pesquisar </button>
    </form>
    <table class="records_list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Pontos</th>
            </tr>
        </thead>
        <tbody>
        {% if entities %}  
            {% for entity in entities %}
                <tr>
                    <td> {{ entity.name}} </td>
                    <td> {{ entity.points }} </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    Sem resultado para a busca
                </td>
            </tr>
            
        {% endif %}
        </tbody>
    </table>
    {% endblock %}
